h1,
h2,
h3,
a {
  font-family: $header-font;
  text-transform: uppercase; 
  letter-spacing: 0.05em;
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 20px;
  line-height: 24px;
  color: $main-secondary-color;
}

h2 {
  font-size: 20px;
  line-height: 24px;
}

h3 {
  font-size: 16px;
  line-height: 20px;
  color: $main-base-color;
}

span {
  font-size: 16px;
  line-height: 20px;
  font-family: $regular-font;
}

a {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

p {
  font-family: $regular-font;
}

li {
  font-family: $regular-font;
  list-style-type: none;
}

input {
  font-family: $regular-font;
  font-size: 18px;
}

label {
  font-family: $regular-font;
  font-size: 18px;
}
