@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic|News+Cycle:400,700&display=swap');


$main-color: #AA0909;
$secondary-color: #AC9416;
$main-base-color: #676565;
// $secondary-base-color: ;
$regular-font: 'Carrois Gothic', sans-serif;
$header-font-family: 'News Cycle', sans-serif;

html {
  box-sizing: border-box;
}
  
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100vh;
  height: 100vh;
  color: black;
}
  