.drink-order {
  background: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 160px;

  .drink-header {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid grey;
    align-items: flex-end;
    height: 44px;
    padding-bottom: 5px;

    h3,
    h4 {
      margin: 0;
    }
  }
}