.food-information > .content {
  display: grid;
  justify-content: center;
  border-width: 0 0 1px 0;
  grid-template-columns: 15px 1.5fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'color info add remove';

  .info,
  .added-items,
  .removed-items {
    padding: 15px 0 15px 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-top: 1px solid $main-secondary-color; 
    border-width: 1px 0 0 0;
  }

  .color {
    background-color: $main-secondary-color;
    grid-area: color;
    width: 100%;
    height: 100%;

    &.yellow {
      background-color: $light-gold;
    }

    &.green {
      background-color: $green;
    }
  }

  .info {
    grid-area: info;
  }

  .added-items {
    grid-area: add;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
  }

  .removed-items {
    grid-area: remove;
    color: $main-color;
  }
}
