.edit {
  height: 100vh;

  .content-wrapper {
    display: flex;
    height: calc(100% - 85px);

    > section {
      &:first-child {
        width: calc(100% - 65%);
        height: calc(100% - 125px);

        .search-bar {
          background: white;
          margin: 10px;
          position: relative;

          .search-icon {
            position: absolute;
            right: 0;
            top: 5px;
            height: 80%;
          }

          > input {
            padding: 15px 0 15px 20px;
            width: calc(100% - 25px);
          } 
        }

        .items-list {
          background: white;
          margin: 10px;
          overflow-y: scroll;
          height: calc(100% - 120px);

          > ul {
            padding: 0;
            margin: 0;

            > li {
              border-top: 1px solid $main-secondary-color;
              padding: 15px;
              cursor: pointer;
              text-transform: uppercase;

              > span {
                margin: 10px;
              }
            }
          }
        }

        .time-settings {
          background: white;
          display: flex;
          margin: 10px;

          .set-time {
            display: flex;
            flex-direction: column;
            width: 100%;

            .set-time-button-wrapper {
              display: flex;
              justify-content: space-evenly;
              align-items: center;
              height: 75px;

              > .dark-admin-btn {
                height: 100%;
                width: 50%;
                border: none;
                border-right: 1px solid black;
                border-radius: 0;

                &.set-time-open-button {
                  border-bottom: 1px solid black;
                  
                  &.active {
                    background: $green;
                    color: white;
                  }
                }

                &.set-time-close-button {
                  &.active {
                    background: $main-color;
                  }
                }
              }

              > .closed-business,
              .open-business {
                height: 100%;
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;
              }
              
              > .closed-business > span {
                font-size: 25px;
              }
            
              > .open-business > span {
                font-size: 25px;
              }
            }
          } 
        }
  
        &:last-child {
          background: white;
          height: calc(100% - 20px);
          margin: 10px;
        }
      }
    }
  }
}

.edit > .content-wrapper > .field > .grid-wrapper {
  display: grid;
  background: white;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 95px 1fr;
  grid-template-rows: .5fr 2fr .4fr;
  grid-template-areas: 
  "top top top"
  "middle-left divider middle-right"
  "buttons-left . buttons-right";

  .header,
  .button {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .header {
    grid-area: top;
  }

  .button > .button-wrapper {
    display: flex;
  }

  .button > .edit-admin-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    text-transform: uppercase;
    cursor: pointer;
    
    &.-remove {
      width: 80px;
      height: 60px;
    }

    > img {
      margin-bottom: 7px;
    }
    
    &.hidden-btn {
      visibility: hidden;
    }
  }
  .button > .button-wrapper > .edit-admin-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    text-transform: uppercase;
    margin: 0 5px;
    cursor: pointer;
    
    &.-add,
    &.-cancel {
      width: 80px;
      height: 60px;
    }

    > img {
      margin-bottom: 7px;
    }

    &.-cancel > img {
      transform: rotate(45deg);
    }
  }
  .divider {
    grid-area: divider;
    display: flex;
    justify-content: center;
    align-items: center;

    > .line {
      height: 95%;
      width: 1px;
      background: black;
    }
  }
  
  .wrapper-left {
    grid-area: middle-left;
  }

  .wrapper-right {
    grid-area: middle-right;
  }
  
  .button {
    grid-area: buttons-right;
  }

  .switch-button {
    grid-area: buttons-left;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
}
.edit > .content-wrapper > .field {
  margin: 10px;
}

.edit > .content-wrapper > .field > .grid-wrapper > .wrapper-left {
  display: grid;
  padding-left: 50px;
  grid-template-columns: .5fr 1fr;
  grid-template-areas: 
   "number price"
   "dish dish"
   "category category"
   "description description"
   "description description"
   "protein protein"
   "spice spice";
  
  .number,
  .name,
  .ingredients,
  .price,
  .protein,
  .spice {
    display: flex;
    flex-direction: column;

    > input {
      height: 35px;
      border: 1px solid #cdcdcd;
      margin: 9px 0;
      padding-left: 5px;
      text-transform: uppercase;
    }
  }

  .price {
    padding-left: 10px;
  }

  .category > select {
    height: 35px;
    width: 100%;
    border: 1px solid #cdcdcd;
    margin: 9px 0;
    padding-left: 5px;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    font-family: $regular-font;
  }

  .description > textarea {
    min-height: 90px;
    max-height: 90px;
    max-width: 100%;
    margin: 9px 0;
    font-size: 18px;
  }

  .protein,
  .spice {
    .input-wrapper {
      display: flex;
      margin-top: 9px;
      flex-wrap: wrap;
      
      > .container {
        display: flex;
        align-items: center;
        width: 130px;
        margin-bottom: 10px;
      }
    }
  }

  .number > input {
    width: 100px;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    > input {
      border: 1px solid #cdcdcd;
    }
  }

  .number {
    grid-area: number;
  }

  .category {
    grid-area: category;
  }

  .name {
    grid-area: dish;
  }

  .description {
    grid-area: description;
  }

  .price {
    grid-area: price;
  }

  .protein {
    grid-area: protein;
  }

  .spice {
    grid-area: spice;
  }
}

.edit > .content-wrapper > .field > .grid-wrapper > .wrapper-right {
  display: grid;
  padding-right: 50px;
  grid-template-columns: 1fr;
  grid-template-areas: 
   "ingredients"
   "extras";

   .ingredients,
   .extras {
     display: flex;
     flex-direction: column;
   
     > input {
       height: 35px;
       border: 1px solid #cdcdcd;
       margin: 9px 0;
       padding-left: 5px;
     }

     > .container {
      display: flex;
     }
   }

   .ingredients {
    grid-area: ingredients;
  }

  .extras {
    grid-area: extras;
  }

  .extras > .input-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 9px;
    cursor: pointer;
    
    > .container {
      width: 125px;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
  }
}
