.edit {
  height: 100vh;

  .content-wrapper {
    display: flex;
    position: relative;
    height: calc(100% - 85px);

    .fader {
      display: none;
      transition: background .5s;

      &.-active {
        background: rgba(0,0,0,0.7);
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        z-index: 50;
      }

      .close-down-search {
        position: absolute;
        color: white;
        top: 50px;
        font-size: 45px;
        right: 40px;
      }
    }

    .search-slidein {
      background: black;
      position: absolute;
      width: calc(100% - 65%);
      height: calc(100%);
      z-index: 100;
      transform: translateX(-500px);
      transition: transform .7s ease-out;

      &.-active {
        transform: translateX(0);
      }
    }
  }
}

.edit > .content-wrapper > .field {
  background: white;
  height: calc(100% - 20px);
  width: 100%;
  margin: 10px;
}
