.login {
  background: $main-base-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .login-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > .line-divider {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100px;
    }

    > .line-divider > .line {
      background: $main-secondary-color;
      position: absolute;
      top: calc(50% + 1px);
      height: 1px;
      width: 100%;
    }
    
    .loading-line {
      background: $secondary-color;
      position: absolute;
      width: 0;
      height: 3px;
      top: 50%;
      left: 0;
      z-index: 10;
      
      &.-active {
        width: 100%;
        transition: width 3s;
      }
    }

    img {
      width: 80%;
    }

    .login-button {
      width: 140px;
      height: 50px;
      margin: 0 2rem;
    }
  }
}
