.navigation {
  background: $main-base-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;

  .nav-orders {
    display: flex;
    color: white;
  }

  > .time-buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    > img {
      margin: 0 10px;
    }
  }

  > .logo {
    position: relative;

    > img {
      cursor: pointer;
    }
  }

  > .logo-dropdown {
    background: $main-base-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    color: white;
    border-radius: 5px;
    height: 1px;
    width: calc(100% - 65%);
    z-index: 100;
    top: 75px;
    left: 0;
    transition: height .5s;
  
    &.-active {
      height: 100%;
    }

    > .dropdown-links {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 50%;
      padding-top: 100px;
    }

    > .dropdown-links > a, span {
      font-family: $header-font-family;
      letter-spacing: 0.05em;
      font-weight: 700;
      color: white;
      margin-bottom: 25px;
      font-size: 24px;
      text-transform: uppercase;
      height: 20px;
      cursor: pointer;
    }
  }


  > .-activeBackground {
    background: rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  > .current-time {
    color: white;
    font-family: $regular-font;
    font-size: 30px;
  }
}
