.navigation {
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  > .logo {
  }

  > .orders {
  }

  > .time-button {
  }

  > .current-time {
    background: green;
  }
}
