.order-board {
  background: $main-base-color;
  height: 100vh;

  >.content {
    display: flex;
    padding-top: 90px;

    .drink-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20%;
      height: calc(100vh - 90px);
      overflow: scroll;
    }
  
    .food1, 
    .food2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      height: calc(100vh - 90px);
      overflow: scroll;
    }
  }
}
