.order-modal {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-overlay {
    background: white;
    padding: 5rem;
    border-radius: 3px;
    position: relative;
  }

  .lower-order-modal {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;

    >.dark-admin-btn {
      width: 120px;
      height: 50px;
      background: $green;
      color: white;
      border: none;
      font-size: 20px;

      &:first-child {
        background: $main-color;
      }
    }
  }
}