.order-board {
  background: #000000;

  .content {
    display: flex;

    .drink-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20%;
    }
  
    .food1 {
      width: 40%;
    }
    .food2 {
      width: 40%;
    }
  }
}
